<div class="container">
  <div class="btn-group pull-right">
    <a class="btn btn-default" href="{{'/archive' | relative_url}}"><span class="glyphicon glyphicon-th-list"></span> Archive</a>
    <a class="btn btn-default" href="{{'/excerpt' | relative_url}}"><span class="glyphicon glyphicon-tasks"></span> Excerpt</a>
    <a class="btn btn-default" href="{{ '/feed.xml' | relative_url }}"><span class="badge">RSS</span> Feed</a>
    <a class="btn btn-default" href="#" disabled="disabled"><span class="glyphicon glyphicon-cog"></span> Admin</a>
    <a class="btn btn-default" href="#" disabled="disabled"><span class="glyphicon glyphicon-edit"></span> Post</a>
  </div>
</div>
