<div class="list-group">
{% for post in paginator.posts %}
  <div class="list-group-item">
    <div>
{% if post.tags contains 'original' %}
      <span class="glyphicon glyphicon-user"></span>
{% elsif post.tags contains 'share' %}
      <span class="glyphicon glyphicon-share"></span>
{% else %}
      <span class="glyphicon glyphicon-file"></span>
{% endif %}
      <a href="{{ post.url | relative_url }}" class="nounderline"><h1>{{ post.title }}</h1></a>
    </div>
    <div>{{ post.excerpt | strip_html }}</div>
    <div class="text-right">
      <span class="date">{{ post.date | date_to_string }}</span>
      <span class="glyphicon glyphicon-search"></span> <a href="{{ post.url | relative_url }}" class="nounderline">阅读</a> (100)
      <span class="glyphicon glyphicon-comment"></span> 评论 (100)
    </div>
  </div>
{% endfor %}
</div>