<div class="list-group">
  {% for post in paginator.posts %}
    <div class="list-group-item row">
      <a href="{{ post.url | relative_url }}"><h1>{{ post.title }}</h1></a>
      <div class="content">{{ post.excerpt | strip_html }}</div>
      <div class="col-md-2 col-md-offset-7">
        <p class="author"><span class="date">{{ post.date | date_to_string }}</span></p>
      </div>
      <div class="col-md-3">
        <span class="glyphicon glyphicon-search"></span> <a href="{{ post.url | relative_url }}">阅读 <span class="badge">100</span></a>
        <span class="glyphicon glyphicon-comment"></span> 评论 <span class="badge">100</span>
      </div>
    </div>
  {% endfor %}
</div>