
{% if paginator.total_pages > 1 %}
<nav aria-label="Page navigation">
  <ul class="pagination">
    {% if paginator.previous_page %}
    <li>
      <a href="{{ paginator.previous_page_path | relative_url }}" aria-label="Previous">
        <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
      </a>
    </li>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
    <li class="active">
      <a>{{ page }}</a>
    </li>
      {% elsif page == 1 %}
    <li>
      <a href="{{ '/' | relative_url }}">{{ page }}</a>
    </li>
      {% else %}
    <li>
      <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
    </li>
      {% endif %}
    {% endfor %}
    
    {% if paginator.next_page %}
    <li>
      <a href="{{ paginator.next_page_path | relative_url }}" aria-label="Next">
        <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
      </a>
    </li>
    <li>
      <a href="{{ site.paginate_path | relative_url | replace: ':num', paginator.total_pages }}" aria-label="Last">
        <span class="glyphicon glyphicon-step-forward"></span>
      </a>
    </li>
    {% endif %}

  </ul>
</nav>
{% endif %}
