<div class="panel panel-default">
  <div class="panel-heading">Profile</div>
  <div class="panel-body list-group">
    <li class="list-group-item">
      <a href="{{'/'|relative_url}}" class="thumbnail">
        <img src="{{ '/assets/logo.png' | relative_url }}" alt="{{site.data.author.name}}">
      </a>
      <div class="text-center">{{site.data.author.name}}</div>
      <div class="text-center">
        <a href="https://github.com/{{site.data.author.github}}/{{site.data.author.repo}}" class="label label-success"><span class="glyphicon glyphicon-plus"></span> Follow</a>
        <a class="label label-success"><span class="glyphicon glyphicon-home"></span> Message</a>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row"><div class="col-md-12">View: N/A</div></div>
      <div class="row"><div class="col-md-12">Credit: N/A</div></div>
      <div class="row"><div class="col-md-12">Level: <span class="badge">BLOG</span></div></div>
      <div class="row"><div class="col-md-12">Rank: Beyond horizon</div></div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-6">Original:{{site.posts.size}}</div><div class="col-md-6">Share:N/A</div>
      </div>
      <div class="row">
        <div class="col-md-6">Translation:N/A</div><div class="col-md-6">Comment:N/A</div>
      </div>
    </li>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Search</div>
  <div class="panel-body">
    <div class="input-group">
      <input id="sidebar-post-search" type="text" class="form-control" disabled>
      <span class="input-group-btn">
        <button class="btn btn-default" href="{{'/search' | relative_url}}"><span class="glyphicon glyphicon-search" onclick="openSearch()"></span></button>
      </span>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Category</div>
  <div class="panel-body list-unstyled">
{% for category in site.categories %}
    <li><a href="{{ category | first | prepend: '/category/' | relative_url }}" class="nounderline">{{ category | first }}</a> ({{category[1].size}})</li>
{% endfor %}
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Tag</div>
  <div class="panel-body list-group">
{% for tag in site.tags %}
    <a href="{{ tag | first | prepend: '/tag/' | relative_url }}" class="list-group-item">
      {{ tag | first }}<span class="badge">{{ tag[1].size }}</span>
    </a>
{% endfor %}
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Archive</div>
  <div class="panel-body">
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">View</div>
  <div class="panel-body">
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Comment</div>
  <div class="panel-body">
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Recommendation</div>
  <div class="panel-body">
  </div>
</div>