---
layout: csdn
---
<div class="panel panel-default">
  <div class="panel-heading"><h1>{{ page.title }}</h1></div>
  <div class="panel-body list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="text-right col-md-12">
          {{ page.date | date_to_string }}
          <span class="glyphicon glyphicon-search"></span> 100人阅读
          <span class="glyphicon glyphicon-comment"></span> 评论(100)
          <a href="#">收藏</a> <a href="#">举报</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <span class="glyphicon glyphicon-list"></span> 分类：
{% for category in page.categories %}
          <a class="label label-info" href="{{ category | prepend: '/category/' | relative_url }}">{{ category }} ({{ category.size }})</a>
{% endfor %}
        </div>
        <div class="col-md-6">标签：
{% for tag in page.tags %}
        <a class="label label-info" href="{{ tag | prepend: '/tag/' | relative_url }}">{{ tag }} ({{ tag.size }})</a>
{% endfor %}
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="container">
      {{ content }}
      </div>
    </li>
    <ul class="list-group-item list-unstyled">
{% if page.previous %}
      <li><a href="{{page.previous.url|relative_url}}" class="nounderline">
        <span class="badge"><span class="glyphicon glyphicon-menu-up"></span> 上一篇 </span> {{page.previous.title}}
      </a></li>
{% endif %}

{% if page.next %}
      <li><a href="{{page.next.url|relative_url}}" class="nounderline">
        <span class="badge"><span class="glyphicon glyphicon-menu-down"></span> 下一篇 </span> {{page.next.title}}
      </a></li>
{% endif %}
    </ul>
  </div>
</div>
