{% include header.html %}
    <link href="{{'/css/csdn.css' | relative_url}}" rel="stylesheet" type="text/css">
    <script src="http://cdn.bootcss.com/bootstrap-hover-dropdown/2.0.10/bootstrap-hover-dropdown.min.js"></script>
  </head>
  <body>

<div class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#csdn-navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{'/' | relative_url}}">
        <span class="glyphicon glyphicon-euro" aria-hidden="true">博客</span>
      </a>
    </div>

    <div id="csdn-navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a id="nav-search" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
          <ul class="dropdown-menu" aria-labelledby="nav-search">
            <li class="input-group">
              <input type="text" class="form-control" placeholder="搜索">
              <span class="form-control-feedback glyphicon glyphicon-search" aria-hidden="true"></span>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a id="nav-bookmark" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false"><span class="glyphicon glyphicon-star"></span></a>
          <ul class="dropdown-menu" aria-labelledby="nav-bookmark">
            <li><a>Action</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a id="nav-notification" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false"><span class="glyphicon glyphicon-bell"></span><span class="badge">1</span></a>
          <ul class="dropdown-menu" aria-labelledby="nav-notification">
            <li><a>Action</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a id="nav-action" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false"><span class="glyphicon glyphicon-edit"></span></a>
          <ul class="dropdown-menu" aria-labelledby="nav-action">
            <li><a href="#"><span class="glyphicon glyphicon-blackboard"></span>传PPT/文档</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-comment"></span>提问题</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-edit"></span>写博客</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-cloud-upload"></span>传资源</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-file"></span>创建项目</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-console"></span>创建代码片</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a id="nav-user" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false"><span class="glyphicon glyphicon-user"></span></a>
          <ul class="dropdown-menu" aria-labelledby="nav-user">
            <li><a href="{{'/about' | relative_url}}">About</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a id="nav-menu" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
          <ul class="dropdown-menu" aria-labelledby="nav-menu">
            <li><a>Action</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="page-header">
  <div class="container">
    <h1>{{site.data.author.title}}</h1>
  </div>
</div>

<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#csdn-navbar-second" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div id="csdn-navbar-second" class="collapse navbar-collapse">
      <form class="navbar-form navbar-right">
        <a class="btn btn-primary" href="{{'/archive' | relative_url}}"><span class="glyphicon glyphicon-th-list"></span>目录视图</a>
        <a class="btn btn-success" href="{{'/excerpt' | relative_url}}"><span class="glyphicon glyphicon-tasks"></span>摘要视图</a>
        <a class="btn btn-info" href="#">RSS订阅</a>
        <a class="btn btn-warning" href="#"><span class="glyphicon glyphicon-cog"></span>管理博客</a>
        <a class="btn btn-danger" href="#"><span class="glyphicon glyphicon-edit"></span>写新文章</a>
      </form>
    </div>
  </div>
</div>

<div class="container">
  {{ content }}
</div>

{% include footer.html %}